<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cloud City VR</title>

  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav" style="width:80%">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand topnav page-scroll" href="#top">Cloud City VR</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#media">Media</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
          <li>
            <a class="page-scroll" href="#update">Stay Updated</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>


  <!-- Header -->
  <a id="top"></a>
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Cloud City VR</h1>
            <h3>A Virtual Reality City Builder</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="https://www.facebook.com/cloudcityvr" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCHnSzPwUUof7mbJmoZXAzmA" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-youtube-play fa-fw"></i> <span class="network-name">Youtube</span></a>
              </li>
              <li>
                <a href="https://cloudcity.itch.io/cloudcity-vr" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-gamepad fa-fw" target="_blank"></i> <span class="network-name">Itch Io</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->

  <!-- Page Content -->

  <a id="about"></a>
  <div class="container" id="about2">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="section-title text-center">About</div>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
  <div class="container" id="about3">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Build Your City</h2>
        <p class="lead">Cloud City VR is an immersive city builder where you decide how your city grows and develops, and then get to experience it firsthand from a citizen’s perspective. You must make key decisions like choosing the size and placement of residential
          and industrial areas.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block img-circle" src="images/city-about.jpg" alt="Generic placeholder image">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="container" id="about4">
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Manage Every Aspect</h2>
        <p class="lead">Once the buildings are placed, your role as mayor has only just begun, as you need to keep track of happiness and income to make sure that every bit of the city is as productive as it can be. Every building is unique, and the interactions between
          people and businesses define the success of a city.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block img-circle" src="images/controller.png" alt="Generic placeholder image">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="container" id="about5">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Mind Blowing Visuals</h2>
        <p class="lead">Cloud City VR includes rain weather effects and full day-night cycles with beautiful sunsets and starry night skies. While building and managing your city, you can always take a break to enjoy the beauty of the surroundings in Cloud City.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block img-circle" src="images/visual.png" alt="Generic placeholder image">
      </div>
    </div>
  </div>


  <hr class="featurette-divider" style="border: 1px solid white;">

  <!-- /END THE FEATURETTES -->
  <!-- /.content-section-a -->
  <a id="media"></a>
  <div class="container" id="media2">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="section-title text-center">Media</div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="container" id="media3">
    <div class="screenshot-title text-center">Screenshots</div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/full/1.png" alt="1" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/2.png" alt="2" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/3.png" alt="3" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/4.png" alt="4" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/5.png" alt="5" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/6.png" alt="6" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/7.png" alt="7" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/8.png" alt="8" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/9.png" alt="9" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/10.png" alt="10" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/11.png" alt="11" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/12.png" alt="12" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/13.png" alt="13" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/14.png" alt="14" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/full/3.png" alt="15" style="width:100%;">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="video-title text-center">Videos</div>
  </div>

  <hr class="featurette-divider" style="border: 1px solid white;">

  <a id="contact"></a>
  <div class="container" id="contact2">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="section-title text-center">Contact</div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">


  <div class="container" id="contact3">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Need more information? Get in touch, we will get back to you as soon as possible!</h5>
      </div>
    </div>
      <br><!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-6 text-center">
        <img class="img-circle" src="images/icon/mail.png" alt="Generic placeholder image" width="140" height="140">
          <h2 style="margin:0">Email</h2>
        <h3>You can ping your questions over to us at <a href="mailto:info@playcloudcity.com" target="_blank">info@playcloudcity.com</a>.</h3>
      </div>

      <div class="col-lg-6 text-center">
        <img class="img-circle" src="images/icon/facebook.png" alt="Generic placeholder image" width="140" height="140">
        <h2 style="margin:0">Facebook</h2>
        <h3>Follow us to keep up with development at <a href="https://www.facebook.com/cloudcityvr" target="_blank">facebook.com/cloudcityvr</a>.</h3>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Or join our mailing list and leave a comment below!</h2>
      </div>
    </div>

  </div>
  <!-- /.row -->
  <hr class="featurette-divider" style="border: 1px solid white;">

  <a id="update"></a>
  <div class="container" id="update2">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="section-title text-center">Stay Updated</div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider" style="margin-bottom:0">
  <iframe id="update3" src="https://docs.google.com/forms/d/e/1FAIpQLSfDxngxUP03vBH5fxdwOwFtbM7vPnYECkGT5aMmfTeAwMZrPg/viewform?embedded=true" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a class="page-scroll" href="#media">Media</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a class="page-scroll" href="#update">Stay Updated</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a class="page-scroll" href="#top">Back To Top</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; Cloud City VR 2017. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/scrollreveal.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/javascripts/scroll.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="https://use.fontawesome.com/1a077c2ae5.js"></script>

</body>

</html>
